body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 2vw;
	top: 0;
	position: sticky;
	text-align: center;
	padding: 1.6rem;
	background-color: bisque;
}

main {
	display: grid;
	grid-template-columns: repeat(2, 2fr);
	justify-items: center;
}

h1 {
	display: inline-block;
	color: #fff;
	text-shadow: 4px 4px 4px rgba(111, 111, 111, 0.4);
}

#lil-bread {
	width: 9vw;
	border: 3px outset gold;
	box-shadow: 4px 4px 4px 3px rgba(92, 92, 92, 0.4);
}

#lil-logo {
	width: 12vw;
	box-shadow: 4px 4px 4px 4px rgba(92, 92, 92, 0.4);
	padding: 1vw;
	background-color: hsl(29, 38%, 74%);
	border-radius: 50%;
}

.product {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.product aside img {
	width: 15vw;
}

.product-name {
	color: red;
}
