body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color: #fff;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 2vw;
	top: 0;
	position: sticky;
	text-align: center;
	padding: 1.6rem;
	background-color: bisque;
}

main {
	display: grid;
	grid-template-columns: 2fr 1fr;
	justify-content: space-evenly;
}

h1 {
	display: inline-block;
	color: #fff;
	text-shadow: 4px 4px 4px rgba(111, 111, 111, 0.4);
}

h2 {
	text-align: center;
	font-weight: bold;
	color: hsl(29, 64%, 51%);
}

#lil-bread {
	width: 9vw;
	border: 3px outset gold;
	box-shadow: 4px 4px 4px 3px rgba(92, 92, 92, 0.4);
}

#lil-logo {
	width: 12vw;
	box-shadow: 4px 4px 4px 4px rgba(92, 92, 92, 0.4);
	padding: 1vw;
	background-color: hsl(29, 38%, 74%);
	border-radius: 50%;
}

.product {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.product-img {
	margin: 20px;
}

.product-img img {
	width: 12vw;
	height: 35vh;
}

.product-description {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: left;
	padding: 20px;
	color: hsl(29, 64%, 51%);
}

.product-name {
	font-weight: 900;
	font-size: 1.2rem;
}

.price {
	color: olivedrab;
}

.stock-div {
	margin: 0.8em 0;
}

.stock-span {
	background-color: rgba(189, 192, 62, 0.4);
	color: hsl(29, 64%, 51%);

	font-size: 0.9em;
	padding: 0.5em;
}

#inventory {
	display: grid;
	grid-template-rows: 100px;
	justify-content: center;
	width: 50vw;
	background-color: rgb(251, 245, 238);
	gap: 5px;
}

#inventory h2 {
	margin: 20px;
}

#new-product {
	border: 2px solid red;
	width: 50vw;
}

form {
	border: 2px solid #333;
}

/* #form-btns {

} */
#btn-remove {
	background-color: rgb(244, 30, 30);
	color: #fff;
	box-shadow: 2px 2px 2px 2px rgba(111, 111, 111, 0.4);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1em;
	font-weight: bold;
	letter-spacing: 0.1rem;
	border: none;
	border-radius: 7px;
	padding: 0.4rem 1.1rem;
	margin-top: 0.8rem;
}

#btn-reset {
	background-color: rgb(71, 165, 20);
	color: #fff;
	box-shadow: 2px 2px 2px 2px rgba(111, 111, 111, 0.4);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1em;
	font-weight: bold;
	letter-spacing: 0.1rem;
	border: none;
	border-radius: 7px;
	padding: 0.4rem 1.1rem;
	margin-top: 0.8rem;
}

#btn-submit {
	background-color: rgb(255, 159, 42);
	color: #fff;
	box-shadow: 2px 2px 2px 2px rgba(111, 111, 111, 0.4);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1em;
	font-weight: bold;
	letter-spacing: 0.1rem;
	border: none;
	border-radius: 7px;
	padding: 0.4rem 1.1rem;
	margin-top: 0.8rem;
}
